In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.append("clean_functions.py")
from src.clean_functions import *

## Analisis exploratorio y desarrollo de Hipótesis.

En este documento se llevara a cabo un porceso de: 

* Analisis exploratorio del Dataframe (DF).

* Planteamiento de varias hipotesis respecto a la informacion visualizada.

#### Importamos data frame de la direccion:

In [2]:
shark = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1")

### 1. Exploramos el Datafarme

Relizo una una copia del DF, para futuras consultas.

In [3]:
shark_cop = shark.copy()

Utilizando los diferentes métodos de exploracion de facilitados por la librería pandas, trataremos de entender los datos existentes.

Se hara uso de los siguientes métodos para la exploracion del DF;


* copy( )
* shape
* info( )
* sum( ) - Convinaremos esta funcion con otras. 
* isnull( )
* sample( )
* head( )
* tail( )
* unique( ) 
* value_counts( )

Una vez realizada una priera inspeccion, modificaremos los nombres de las columnas, para asegurarnos un facil acceso a las mismas. En este caso, cambiaremos caracteres a minisculas, y añadiremos una barra baja a los espacios. Machacare el atributo de instancia, para agilizar el proceso.

In [4]:
shark.shape

(25723, 24)

In [5]:
shark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [6]:
shark.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [7]:
shark.sample(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
7857,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2721,1988.07.23,23-Jul-1988,1988.0,Unprovoked,BAHAMAS,NaN,NaN,Free diving & spearfishing,Kenny Isham,M,...,2 m to 2.5 m shark,"E. Pace, FSAF",1988.07.23-Isham.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1988.07.23,1988.07.23,3582.0,NaN,NaN

In [8]:
shark.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [9]:
shark.tail(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
shark.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [11]:
lista_newcols = [sh.replace(' ','_').lower() for sh in shark.columns]

In [12]:
shark.columns = lista_newcols

In [13]:
shark.sample()

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
22116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
shark.isnull().sum()

case_number               17021
date                      19421
year                      19423
type                      19425
country                   19471
area                      19876
location                  19961
activity                  19965
name                      19631
sex_                      19986
age                       22252
injury                    19449
fatal_(y/n)               19960
time                      22775
species_                  22259
investigator_or_source    19438
pdf                       19421
href_formula              19422
href                      19421
case_number.1             19421
case_number.2             19421
original_order            19414
unnamed:_22               25722
unnamed:_23               25721
dtype: int64

* Observamos los valores 'Nan'.

In [15]:
for col in shark.columns:
    nulos = np.mean(shark[col].isnull())
    print('{} - {}%'.format(col, round(nulos*100)))

case_number - 66%
date - 76%
year - 76%
type - 76%
country - 76%
area - 77%
location - 78%
activity - 78%
name - 76%
sex_ - 78%
age - 87%
injury - 76%
fatal_(y/n) - 78%
time - 89%
species_ - 87%
investigator_or_source - 76%
pdf - 76%
href_formula - 76%
href - 76%
case_number.1 - 76%
case_number.2 - 76%
original_order - 75%
unnamed:_22 - 100%
unnamed:_23 - 100%

### 2. Desarrollo de hipótesis.

### Posibles hipótesis a desarrollar

* Hipótesis 1: El numero global de muertes entre  hombres y mujeres, será mayor en los varones, pues son los que realizan mayor cantidad de actividades, tanto recreacinales como laborales, en la mar.

    * Columnas de interes: sex,fatal(y/n) 
    

* Hipótesis 2: La evolucion de numero de muertes (desde que hay infromacion) en los difrentes paises o continentes que superan las 50 causalidades, será mayor conforme la fecha vaya aproximando a la actual (2022), devido al incremento en la actividad global. Pudiese tomar como ejemplo el turismo, que es un sector que ha llegado a todos los rincones del planeta. Esto puede favorecer el numero de fatalidades, pues los turistas en muchas ocasiones visitan lugares remotos y desconocidos para ellos, encontrando adversidades como el ataque de un tiburón. 

    * Columnas de interes: year, country, fatal(y/n)>50.


* Hipótesis 3: A manos de que especie causa mas muertes. 
    
    * Columnas de interes: species, fatal(y/n) - DESCARTADA
    
    
* Hipótesis 4: Cuantas de las personas que mueren a manos de los tiburones eran pescadores, surfistas o bañistas.
    
    * Columnas de interes: activity, fatal(y/n) - DESCARTADA


* Hipótesis 5: Cual es la edad y sexo (edad media, la desviacion estandar, el maximo y el mínimo) en el que son atacados tanto hombres como mujeres.
    
    * Columnas de interes: age, sex, fatal(y/n) - DESCARTADA

#### 2.1 Eliminamos  las filas y columnas en las que todos sus valores sean 'Nan'.

Teniendo en cuenta el primer analisis realizado, se puede observar como el numero de valores 'Nan' en muy alto, alcanzando gran cantidad en filas y columnas.

* Eliminamos filas.

In [16]:
shark.dropna(axis=0, how = "all", inplace=True)

* Eliminamos columnas.

In [17]:
shark.dropna(axis=1, how = "all", inplace=True)

* EL bruto del Dataframe tenía, 25.723 filas, una vez eliminadas todas las filas en las que sus valores 'Nan', quedan 8.703, por lo tanto se han borrado 17.020 filas en las que todos sus valores eran nulos.

In [18]:
shark.shape

(8703, 24)

#### 2.2.  En base a nuestras hípotesis centraremos nuestra atencion en las columnas: 
* year
* country
* activity
* sex_ 
* fatal_YN

##### *El resto de columnas serán eliminadas. (contamos con la copia del DF, en caso de necesitar consultar algún dato)

In [19]:
shark.sample()

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
8105,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
shark.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species_', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

* Eliminamos las columnas, no relevantes para el desarrollo de nuestras hipótesis.

In [21]:
shark.drop(['case_number', 'date','type', 'area', 'location',
       'activity', 'name', 'age', 'injury', 'time',
       'species_', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'], axis=1 ,inplace=True)

In [22]:
shark.sample()

        year    country sex_ fatal_(y/n)
1546  2005.0  AUSTRALIA    M           N

In [23]:
shark.isnull().sum()

year           2403
country        2451
sex_           2966
fatal_(y/n)    2940
dtype: int64

In [24]:
shark.tail()

       year country sex_ fatal_(y/n)
8698    NaN     NaN  NaN         NaN
8699    NaN     NaN  NaN         NaN
8700    NaN     NaN  NaN         NaN
8701    NaN     NaN  NaN         NaN
25722   NaN     NaN  NaN         NaN

* Comprobamos que continúa habiendo un gran numero de valores 'Nan', en el DF. Volveremos a utilizar el método 'dropna', para tratar de reducirlos lo máximo posible.

In [25]:
shark.dropna(axis=0, how = "all", inplace=True)
shark.dropna(axis=1, how = "all", inplace=True)

In [26]:
shark.shape

(6302, 4)

Hemos vuelto ha vuelto a reducir el numero de filas, de  8.703  a  6.302 y el numero de valores nulos, por columna se ha reducido considerablemente.

In [27]:
shark.sample()

       year country sex_ fatal_(y/n)
559  2014.0     USA    F           N

In [28]:
shark.isna().sum()

year             2
country         50
sex_           565
fatal_(y/n)    539
dtype: int64

##### Exportamos los dos DF que queremos limpriar.

In [33]:
shark.to_csv('shark.csv', index=True)

In [32]:
shark_cop.to_csv('shark_co.csv')