In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import matplotlib.ticker as mticker
import sys
sys.path.append('../')
from pycountry_convert import country_alpha2_to_continent_code, country_name_to_country_alpha2
import plotly.express as px

In [3]:
hipot_1 = pd.read_csv("incidents_by_countries.csv")
hipot_2 = pd.read_csv("incidents_by_gender.csv")

In [4]:
hipot_1

      DEAD  survived  incidents
0   1837.0     186.0     2023.0
1    921.0     283.0     1204.0
2    407.0     106.0      513.0
3     74.0      56.0      130.0
4     91.0      24.0      115.0
5     94.0      10.0      104.0
6     64.0      38.0      102.0
7     35.0      43.0       78.0
8     39.0      22.0       61.0
9     31.0      29.0       60.0
10    21.0      35.0       56.0
11    40.0      14.0       54.0
12    34.0      18.0       52.0